@import "../../../../styles/stylus/components/payment-method.styl"

.text
  padding 5rem 0

  &--bus
    @extend .text

    font-size 1.14rem
    color #fff
    padding 40rem 0 4rem 0
    background-size cover
    overflow hidden

    +below($media-screen-sm)
      padding 4rem 0
      background-position left bottom
      background-size auto 300%

    p
      margin-bottom 1.5rem

  &--bus .block
    col(16/25)

    +below($media-screen-sm)
      col(25/25)

  &-group
    col(6/25)
    padding-right 2%
    margin-bottom 1rem

    +below($media-screen-sm)
      col(25/25)
      margin-bottom 2rem

  &-group--line
    @extend .text-group

    col(25/25)

  &-group--list
    @extend .text-group

    col(8/25)
    list-style none
    margin-top 1rem
    margin-bottom 1rem

    +below($media-screen-sm)
      col(25/25)
      margin-bottom 0
      margin-top 0

      &:first-of-type
        margin-top 1rem

      &:last-of-type
        margin-bottom 1rem

    li
      font-size 1.2rem
      color #008874
      margin-bottom .5rem
      white-space nowrap

  &-group-description--separate
    padding 0 0 3rem


